.contact{
    margin-top: 10%;
    border-top: 0.2vw solid #1C3879;
    padding-top: 5%;
    width: 100%;
    padding-bottom: 2%;
}
.contact h1{
    color: #1C3879;
}
.bottom_contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom_contact img{
    margin-top: 4%;
    width: 4vw;
    height: 4vw;
}
.copyright{
    margin-left: 45%;
    margin-top: 10%;
}
.copyright a{
    margin-left: 1%;
    color: #607EAA;
}
.bottom_links{
    display: flex;
    flex-direction: column;
}
.bottom_links a{
    margin-top: 5%;
    text-decoration: none;
    color: #607EAA;
}
.bottom_links a:hover{
    color: #EAE3D2;
}
.infos p{
    margin-top: 4%;
    color: #607EAA;
}
.nom p{
    margin-top: 4%;
    color: #607EAA;
}

/*Adaptation mobile*/
@media only screen and (max-width: 600px) {
    .bottom_contact{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copyright{
        margin-left: 40%;
    }
    .bottom_links{
        margin-top: 5%;
    }
    .infos{
        margin-top: 5%;
    }
    .bottom_contact img{
        margin-top: 5%;
        width: 5vw;
        height: 5vw;
    }
}