.vj_intro{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.vj_intro h2{
    color:#0F4C75;
}
.vj_intro p{
    color:#607EAA;
    margin-top: 2%;
}
.vj_sujet{
    margin-top: 15%;
    width: 60%;
    margin-left: 5%;
}
.vj_sujet h3{
    color:#0F4C75;
}
.vj_sujet p{
    color: #607EAA;
    margin-top: 2%;
}
.vj_enjeux{
    margin-top: 10%;
    width: 60%;
    margin-left: 5%;
}
.vj_enjeux h3{
    color:#0F4C75;
}
.vj_enjeux p{
    color: #607EAA;
    margin-top: 2%;
}

.vj_rss{
    width: 100%;
}
.vj_rss h2{
    border-bottom: 0.2vw solid #EAE3D2;
    padding-bottom: 1%;
    color:#0F4C75;
    margin-top: 15%;
    margin-left: 40%;
    width: 20%;
    text-align: center;
}
.veille_tech{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flux{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.flux_text{
    padding: 2%;
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 0.5vw 0.2vw #EAE3D2;
    width: 25vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flux h4{
    color: #0F4C75;
}
.flux p{
    margin-top: 2%;
    color: #607EAA;
    width: 80%;
}
.flux img{
    border-right: 0.2vw solid #EAE3D2;
    padding-right: 1%;
    width: 20vw;
    border-radius: 0.5vw;
}
.flux a{
    width: 40%;
    margin-top: 5%;
    padding: 2%;
    color: #1C3879;
    background-color: #EAE3D2;
    border-radius: 0.5vw;
    text-align: center;
    text-decoration: none;
}
.flux a:hover{
    opacity: 80%;
    animation: lien 0.5s linear 0s 1 normal forwards;
}

@keyframes lien {
    0%   {transform: scale(1.05);}
    25%  {transform: scale(1.07);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(1.12);}
}


/*Adaptation mobile*/
@media only screen and (max-width: 600px) {  
.vj_rss h2{
    margin-left: 40%;
    width: 25%;
}
.veille_tech{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
.flux{
    margin-left: 5%;
    margin-top: 10%;
}
.flux a{
    width: 20%;
}
.vj_intro{
    margin-left: 27%;
}
.vj_sujet{
    align-items: center;
    text-align: center;
    margin-left: 22%;
}
.vj_enjeux{
    width: 80%;
    align-items: center;
    text-align: center;
    margin-left: 12%;
}
.flux_text{
    width: 45vw;
    height: 40vw;
}
}